@import './_globals.less';
.model-grid{
	height: 100%;
	width: 100%;
}
.model-grid-slash{
	opacity: 0.4;
	padding: 0 4;
}
.model-grid-slash-right{
	opacity: 0.4;
	padding-right:4;
}
.model-grid-key-toggle{
	width: 30px;
	height: 30px;
}
.model-grid-slide{
	width: 100%;
	height: 100%;
}
.model-grid-opaque{
	opacity: 0.5;
}
.model-grid-add-doc-form{
	max-height: 300px;
	height: fit-content;
	overflow-y: scroll;
}

.search-query-menu-search-label{
	white-space: nowrap;
	margin-left: 3px;
	margin-top: 1px;
}
.search-query-error{
	color: red;
}
.model-grid-label-float-right{
	right: 10px;
    position: absolute;
}
.model-grid-search-bookmark-item{
	cursor: pointer;
	display: flex;
	align-items: center;
	padding-left: 10px;
    font-family: @monofont;
    opacity: 0.8;
    &:hover{
    	opacity: 1;
    }

}

:global(.ReactVirtualized__Grid__innerScrollContainer){
	min-width: 100%;
}

.model-grid-cell-method-button{
	width: 30px !important;
}

.search-query-item-label2{
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 5px;
	transform: scale(0.8);
	max-width: 200px;
	overflow-x: scroll;
	min-width: 20px;
    min-height: 20px;
}
.search-query-item-label{
	// font-size: 15;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	i {
		font-size: 16px;
		padding-right: 6px;
	}
	// width: 30px;
	font-size: 12px;
	opacity: 0.7;
	padding: 8px;
	padding-right: 14px;
	right: 0;
	// height: 100%;
	top: 0;
	// font-size: 16px !important;
	// color: white;
	// &:hover{
	// 	// color: yellow;
	// 	opacity: 1;
	// }
}
.model-grid-search-query-l-item{
	height: auto !important;
	min-height: 30px;
	// display: flex;
 //    align-items: center;
 //    width: 100%;
    font-family: @monofont;
	// :global(.json-key){
	// 	color: white;
	// }
	// :global(.json-string){
	// 	color: orange;
	// }
	// :global(.json-value){
	// 	color: yellow;
	// }
	// :global(.json-pretty){
	// 	color: grey;
	// 	margin: 0;
	// }
	.json{
		position: relative;
		min-height: 30px;
		margin: 0;
		overflow-wrap: break-word;
		padding: 8px;
		font-size: 11px;
		color: grey;
		cursor: pointer;
		white-space: pre;
		
	}
	// &.model-grid-search-query-l-item-sel{
	// 	:global(.json-pretty){
	// 		color: white;
	// 	}
	// 	:global(.json-key){
	// 		color: white;
	// 	}
	// 	:global(.json-string){
	// 		color: orange;
	// 	}
	// 	:global(.json-value){
	// 		color: yellow;
	// 	}
	// }
}

*{
	outline: none;
}
.menu-slide{
	overflow: visible !important;
	// overflow-x: hidden;
}
.model-grid-cell-method-button{
	display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 15 !important;
    width: 30;
    opacity: 0.2;
    transition: opacity 0.3s;
    cursor: pointer;
    &:hover{
    	opacity: 1;
    }
}
.search-keys-container{
	width: auto;
	height: 230;
	min-width: 200;
	overflow-y: scroll;
}
.search-query-menu-icon{
	cursor: pointer;
	i{
		margin: 0;
	}
}
.model-grid-search-query-view{
	// background: black;
	width: 300px;
	height: 300px;
	display: flex;
    flex-direction: column;
}

.data-item-method-menu{
	position: absolute;
	left: 0;
	top: 0;
}

.model-grid-key{
	cursor: pointer;
	// transition: color @ease;
	.model-grid-key-toggle{
		opacity: 0.5;
		transition: opacity @ease;
		line-height: inherit;
	}
	&:hover{
		.model-grid-key-toggle{
			opacity: 1;
			// font-weight: 600;
			// text-decoration: underline;
		}
	}
}
.model-grid-key-toggle{
	// transition: transform 0.3;
	line-height: 30px;
	// margin-left: 2px;
}

.json-close{
	position: absolute !important;
	top: 0px;
	right: 0px;
}

.model-grid-cell{
	// display: flex;
	cursor: pointer;
	height: 100%;
	font-family: @monofont;
	font-size: @fontsize;
	vertical-align: middle;
	line-height:30px;
	overflow: hidden;
    text-align: left;
    white-space: nowrap;
    padding: 0px 10px;
    .model-grid-label{
    	float: left;
    }
    input{
    	// border: 2px solid cyan;
    	font-family: @monofont;
    	font-size: @fontsize;
    	// color: white;
    	padding: 0px 10px;
    	// padding-bottom: 2px;
    	margin-left: -10px;
    	margin-right: -10px;
    	// margin-top: -1px;
    	// margin-bottom: -1px;
    	// padding-top: -1px;
    	transition: background 0.3s ease;
    	width: 100%;
    	height: 30px;
    	// background: yellow;
    	outline: none;
    	// border: 1px dashed;
    	&::placeholder{
			color: inherit;
			opacity: 0.5;
		}
    }
}
.react-json-wrap{
	// align-content: flex-start;
 //    justify-content: flex-start;
 //    align-items: flex-start;
	:global(.react-json-view){
		padding: 12px !important;
		font-size: 11px !important;
		overflow: scroll !important;
		white-space: nowrap;
		min-width: 100%;
		font-family: "monor" !important;
		svg{
			font-size:11px !important;
		}
		// background: none;
		// background-color: inherit !important;
		width: 100% !important;
	}
}
.model-grid-list-menu-right{
	width: 100%;
    flex-direction: row-reverse;
}
.model-grid-list-layout-button{
	width: 140px;
}
.methods-list-container{
	overflow-y: scroll;
	transform: translate(0px);
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	height: 170px;
	width: 100%;
	min-width: 300px;

}
// .layouts-list-container,.bookmarks-list-container{
// 	overflow-y: scroll;
// 	overflow-x: hidden;
// 	display: flex;
// 	flex-direction: column;
// 	height: 200px;
// 	width: 285px;
// }
// .model-grid-list-menu{

// }

.model-grid-selection-menu{

}