@import '../node_modules/re-lui/components/variables.less';
.model-grid{
	font-family: @monofont;
	font-size: @fontsize;
	// transform: translate(0);
	height: 100%;
	width: 100%;
}


.tab-title{
	border-bottom: 2px solid;
	width: 33%;
	overflow: visible;
	margin-bottom: @margin-size;
	padding-bottom: @margin-size;
}

.move-guide-wrapper{
	width: 100%;
	height: 100%;
	// background: rgba(0,0,0,0.2);
	cursor: move;
	position: absolute;
	left: 0px;
	top: 0px;
}
.move-guide{
	pointer-events: none;
	width: 3px;
	position: fixed;
	height: 100%;
	background: white;
	
	display: flex;
	// opacity: 0.5;
}
.move-guide-key{
	pointer-events: none;
	width: 100%;
}


.bookmark-label{
	padding: @padding-size;
	border-right: 2px solid rgba(0,0,0,0.6);
}

.calendar-day-key{
	display: flex;
	align-items: center;
	justify-content: center;
}
.calendar-week-month-title{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	height: 100%;
}
.calendar-week-row{
	display: flex;
	align-items: stretch;
	justify-content: stretch;
}
.calendar-week-day{
	font-family: @monofont;
	// font-size: @fontsize*1.5;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.calendar-week-day-date-full{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.calendar-week-day-date-full{
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.model-grid-wrap{
	transform: translate(0);
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;

}

.model-grid-statics-view{
	width: 400px;
	min-height: 250px;
}

.model-grid-slash{
	opacity: 0.4;
	padding: 0px 4px;
}
.model-grid-slash-right{
	opacity: 0.4;
	padding-right:4;
}

.model-grid-key{
	align-items: center;
	display: flex;
}
.model-grid-key-toggle{
	height: 100%;
	display: flex;
	line-height: 30px;
	padding-left: 6px;
	align-items: center;
	position: absolute;
	right: 30px;
	
	i{
		opacity: 0.3;
		transition: opacity @ease;
		cursor: pointer;
		&:hover{
			opacity: 1;
		}
		&.active{
			opacity: 1;
		}
	}
}
.model-grid-key-resize{
	// width: 30px;
	// height: 30px;
	padding-right: 4px;
	cursor: col-resize;
	position: absolute;
	right: 0;
	opacity: 0.3;
	transition: opacity @ease;
	&:hover{
		opacity: 1;
	}
}


.model-grid-slide{
	width: 100%;
	height: 100%;
}
.model-grid-opaque{
	opacity: 0.5;
}
.model-grid-add-doc-form{
	max-height: 300px;
	height: fit-content;
	overflow-y: scroll;
}

.search-query-menu-search-label{
	white-space: nowrap;
	margin-left: 3px;
	margin-top: 1px;
}
.search-query-error{
	color: red;
	background: rgba(0,0,0,0.5);
}
.model-grid-label-float-right{
	right: 10px;
    position: absolute;
}
.model-grid-search-bookmark-item{
	cursor: pointer;
	display: flex;
	align-items: center;
	padding-left: 10px;
    font-family: @monofont;
    opacity: 0.8;
    &:hover{
    	opacity: 1;
    }

}

.search-input{
	::selection{
		background: yellow;
	}
}

:global(.ReactVirtualized__Grid__innerScrollContainer){
	min-width: 100%;
}

.model-grid-cell-method-button{
	width: 30px !important;
}



.search-query-item-label2{
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 5px;
	transform: scale(0.8);
	max-width: 200px;
	.search-query-error{
		overflow-x: scroll;
		overflow-y: visible;
		padding: 5px;
	}
	min-width: 20px;
    min-height: 20px;
}
.search-query-item-label{
	// font-size: 15;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	i {
		font-size: 16px;
		padding-right: 6px;
	}
	font-size: 12px;
	opacity: 0.7;
	padding: 8px;
	padding-right: 14px;
	right: 0;
	top: 0;

}

.model-grid-search-query-l-item{
	height: auto !important;
	min-height: 30px;
    font-family: @monofont;

	.json{
		position: relative;
		min-height: 30px;
		margin: 0;
		overflow-wrap: break-word;
		padding: 8px;
		font-size: 11px;
		color: grey;
		cursor: pointer;
		white-space: pre;
		
	}
}

*{
	outline: none;
}
.menu-slide{
	overflow: visible !important;
	// overflow-x: hidden;
}
.model-grid-cell-method-button{
	display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 15px !important;
    width: 30px;
    opacity: 0.2;
    transition: opacity 0.3s;
    cursor: pointer;
    &.model-grid-cell-selected{
    	opacity: 1;
    	font-size: 26px;
    	font-weight: 600;
    }
    &:hover{
    	opacity: 1;
    }
}
.search-keys-container{
	width: auto;
	height: 100%;
	max-height: 300px;
	min-width: 300px;
	overflow-y: scroll;
	:global(.lui-label){
		width: 100% !important;
		// display: flex;
	}
}
.search-query-menu-icon{
	transform: translate(0,0);
	cursor: pointer;
	i{
		margin: 0;
	}
}
.model-grid-search-query-view{
	// background: black;
	width: 400px;
	height: 300px;
	display: flex;
    flex-direction: column;
}

.data-item-method-menu{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}





.grid-item-label{
	position: absolute;
	top: 0;
	left: 0;
	margin: @padding-size;

}

.model-grid-cell-selected{
	// border-top: 1px dotted red;
	// border-bottom: 1px dotted red;
	// border-right: 1px dotted red;
}
.model-grid-cell{
	display: flex;
	cursor: pointer;
	height: 100%;
	align-items: center;
	vertical-align: middle;
	line-height:30px;
	overflow: hidden;
    text-align: left;
    white-space: nowrap;
    padding: 0px 10px;
    .model-grid-label{
    	float: left;
    	i{
			font-size: 11px;
			line-height: 30px;
			align-content: center;
			vertical-align: middle;
		}
    }
    input{
		font-family: @monofont;
		font-size: @fontsize;
		margin-left: -10px;
		transition: background 0.3s ease;
		width: 100%;
		height: 30px;
		line-height: 30px;
		outline: none;
		&::placeholder{
			color: inherit;
			opacity: 0.5;
		}
    }
}

.query-bookmark-description{
	max-height: 100px;
	textarea{
		max-height: 60px;
		min-height: 60px;
	}

}

.tab-btn{
	flex-shrink: 0;
    cursor: pointer;
    padding: @padding-size;
    // padding-left: @padding-size*1.5;
    // border-radius: 0px;
    // margin: 0px;
	margin: @padding-size;
    margin-right: 0px;
    height: auto;
    overflow: hidden;

    // border-right: 6px solid #181818;
}






.chip-layout-editor-dropbox{
	width: -webkit-fill-available;
	height: 100%;
	overflow-y: scroll;
}

.chip-layout-editor-dropbox-part{
	width: -webkit-fill-available;
	height: -webkit-fill-available;
	min-height: 50%;
	padding: @margin-size;
	flex-shrink: 0;
}

.chip-layout-editor-chip{
	margin: 0;
	border-radius: @border-radius;
	padding-left: @padding-size;
	width: -webkit-fill-available;
}

.chip-layout-editor-chip-wrap{
	padding: @margin-size;
	width: -webkit-fill-available;
}











.react-json-wrap{
	// overflow: scroll;
	position: relative;
	transform: translate(0);
}




.react-json-container{
	overflow: scroll;
	&.dark{
		:global(.number){
			color: #ff7a00;
		}
		:global(.string){
			color: #32e03f;
		};
		:global(.property){
			color: #e7e7e7;
		};
		:global(.operator),:global(.punctuation){
			color: #929292;
		};
	}
	&.light{
		:global(.keyword){
			color: #00659b;
		}
		:global(.number){
			color: #a14e03;
		}
		:global(.string){
			color: #1c7122;
		};
		:global(.property){
			color: #121212;
		};
		:global(.operator),:global(.punctuation){
			color: #878787;
		};
	}

}

.json-editor-menu{
	position: fixed !important;
	height: fit-content !important;
	width: fit-content !important;
	bottom: 8px;
	margin: 0px;
	left: 0px;
	right: unset;
	&.vert{
		top: 0px;
		right: 8px;
		left: unset;
	}
}

.model-grid-list-menu-right{
	width: 100%;
	flex-shrink: 1 !important;
    flex-direction: row-reverse;
}
.model-grid-list-layout-button{
	width: 140px;
}

.layouts-list-container{
	// display: flex;
	// flex-direction: column;
	position: relative;
	overflow-y: scroll;
	position: absolute;
	left: 0;
	top: 0;
	// transform: translate(0);
	width: 100%;
	height: 100%;
}

ods-list-container-scroll-wrap{
	transform: translate(0);
	max-height: 300px;
	height: 100%;
	width: 100%;
	min-width: 500px;
	
}
.methods-list-container-scroll{

	width: 100%;
	height: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	position: relative;
}
.methods-list-container-box{
	display: block;
	// transform: translate(0);
	transition: background @ease;
	overflow: visible;
	flex-direction: column;
	height: auto;
	z-index: 1;
	width: 100%;
	min-height: 300px;

}

.methods-list-container{
	
	display: flex;
	flex-direction: row;
	position: relative;
	width: 100%;
	min-height: 100%;
	height: fit-content;
	

}
.methods-list-container-item{
	display: flex;
	z-index: 10;
	min-height: 30;
	vertical-align: center;
	padding: 0px @padding-size;
	align-items: center;
	cursor: pointer;
	&::before {
		content: '=';
		opacity: 0.3;
		padding-right: @padding-size;
	}
	&.locked::before {
		content: '•';
		opacity: 1;
		padding-right: @padding-size;
	}
}

.methods-list-render-view{
	overflow-y: scroll;
	min-height: 100%;
	padding: @padding-size;
}

.bookmarks-container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}


.model-grid-selection-menu{

}

.vert-right-bar{
	border-radius: @border-radius;
	width: @border-radius*2;
	height: 60px;
    position: absolute;
    right: @dim2/2 - @border-radius;
    top: calc(50% - 30px);
}
.vert-left-bar{
	border-radius: @border-radius;
	width: @border-radius*2;
	height: 60px;
    position: absolute;
    left: @dim2/2 - @border-radius;
    top: calc(50% - 30px);
}

.overlay-label-button{
	position: fixed !important;
	margin: 12px !important;
	left: 0 !important;
	top: 0 !important;
	// sopacity: 0.7;
	*{
		color: inherit !important;
	}
}